@model GEZAPV3.Models.Persona

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Persona</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PNombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PNombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SNombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SNombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PApellido)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PApellido)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SApellido)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SApellido)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TipoD)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TipoD)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FNacimiento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FNacimiento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sexo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sexo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Telefono)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Telefono)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CElectronico)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CElectronico)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Direccion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Direccion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdTipoPNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdTipoPNavigation.NombreP)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdUsersNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdUsersNavigation.Contraseña)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.DIdentidad">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
